<form action="/restaurants/{{ restaurant._id }}?_method=" PUT" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ restaurant.name }}">
  <button class="btn btn-primary" type="submit">Save</button>
  <a href="/">back</a>
</form>